@import url('https://fonts.googleapis.com/css?family=Play|ZCOOL+XiaoWei');

body{
    background-image: url("../images/back2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#title, #main-form{
    font-family: 'ZCOOL XiaoWei', serif;
}
#stamp{
    font-family: 'Play', sans-serif;
    color: aliceblue
}
.jumbotron{
    margin-top: 100px;
    padding-top: 30px;
    padding-right: 10vw;
    padding-left: 10vw;

}